<br>
<div class="jumbotron">
	<h1>Blocmarks</h1>
	<p>Blocmarks is a resource for sharing bookmarks with your friends!</p>
	<p>
		<%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
		<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
	</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Email Your Bookmarks</h2>
		<p>Email a URL to Blocmarks and have your bookmark automagically saved.</p>
	</div>
	<div class="col-md-4">
		<h2>View Them All</h2>
		<p>See an index of all topics and their bookmarks.</p>
	</div>
	<div class="col-md-4">
		<h2>Get Social</h2>
		<p>Like and unlike bookmarks created by other users.</p>
	</div>
</div>
